.appdata/
.dotnet/
.vs/

**/bin/
**/obj/

dist/
tmp/
backup/
reference/
windbg/
artifacts/
tools/pawn-build/
submission/

*.user
*.suo
*.cache
*.log
*.pdb
*.zip

src/PawnModules/*.amx
src/PawnModules/*-unsigned.bin
NvidiaGB202Thermal.amx
